


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.title{
    font-size: 3rem;
    margin: 6vh;
    border: 7px dashed rgb(1,17,160);
    border-radius: 20px;
    padding: 1vh 5vw;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
}

.card{
    width: 400px;
    height: max-content;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    box-shadow: rgb(0,0,0,0.24) 0px 3px 8px ;
}
.card:hover{
    transition: all 0.8s; 
     -webkit-box-shadow: 10px 3px 27px -1px rgba(125,104,125,0.72);
    -moz-box-shadow: 10px 3px 27px -1px rgba(125,104,125,0.72);
    box-shadow: 10px 3px 27px -1px rgba(125,104,125,0.72);
}

.image{
    width: 380px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.tour-info{
    margin: 20px 5px;
    display: flex;
    flex-direction: column;
}

.tour-price{
    color: #1faa59;
    font-size: 1.3rem;
    font-weight: bold;
}
.tour-name{
    font-size: 1.5rem;
    font-weight: bold;
}

.read-more{
    color: #12b0e8;
    cursor: pointer;
}

.btn-red{
    margin-top:18px ;
    
    padding: 10px 80px;
    border: 1px solid #b4161b;
    cursor: pointer;
    border-radius: 10px;
    font-family: 18px;
    font-weight: bold;
    background-color: #b4161b21;
}

.btn-red:hover{
    background-color: red;
    color:white;
    transition: all 0.2s;

}

.refresh{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Notoursleft{
    font-weight: bold;
    font-size: 1.2rem;
}

.btn-white{
    margin-top:18px ;
    padding: 10px 80px;
    border: 1px solid white;
    cursor: pointer;
    background-color: rgb(23, 38, 38);
    color: white;

}
.btn-white:hover{
    background-color: rgb(81, 69, 69);
    color: white;
    transition: all 0.2s;
}